  <nav class="row">
    <div id="nav">
      <ul class="columns small-12 left primary-nav">

	<li id="toggleMenu"><a href="#nav">Menu</a></li>
	<li id="hideMenu"><a href="#toggleMenu">Menu</a></li>
	
	{% for nav in site.data.nav %}
	  {% if nav.title == page.title %}
		  <li class="active"><a href="{{ nav.href }}">{{ nav.title }}</a></li>
		{% else %}
		  {% if nav.href %}
		  <li><a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a></li>
		    {% elsif nav.external %}
		    <li><a href="{{ nav.external }}">{{ nav.title }}</a></li>
		  {% endif %}
	  {% endif %}
	{% endfor %}
      </ul>

      <ul class="columns medium-4 right primary-nav flex">
	{% for socials in site.data.socials %}
	  <li class="right"><a href="{{ socials.href }}"><span class="icon-{{ socials.title }} socials"></span></a></li>
	{% endfor %}
      </ul>
    </div>
  </nav>
