// Wrap
@media screen and (min-width: 40em) {
  .wrap {
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
  }
}

@media screen and (min-width: 40em) {
.site-header {
    margin-top: 9em;
    max-width: 32em;
}

}
// Styling for mobile devices


// Header
#header {
    padding: 0.9375rem 0;
    background-color: $navbar-color;
}

.header-logo:hover {
    opacity:.9;
}

// Containers
.content_container {
    flex: 1;
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

@media screen and (min-width: 40em) {
.contact_container {
    margin-top: 10em;
}
}

.biopic {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
    padding-left: 1em;
}

.bio {
    padding-top: 2em;
}

.recent-posts {
  font-size: 0.8rem;
}

// Pages
.page-content {
    padding: 0 1.2rem 1.2rem 1.2rem;
}

.page-heading {
    font-size: 20px;
}

.blogroll {
    margin-top: 3em;
    padding-top: 0;
}

.sidebar {
    order: 2;
    padding-top: 4em;
    background-color: #efefef;
}

.sidebar h2 {
  text-transform: uppercase;
}

.sidebar ul li {
  padding: 0 0 1rem 0;   
}


.roll {
  margin-bottom: 2.5rem;
}


// Posts

.post-title {
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
  margin: 0 30px 30px 30px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: darken($complimentary-color, 35%);
    margin-bottom: -1rem;
}

.post-link {
    display: block;
    font-size: 24px;
}

// Footer
#footer {
  background-color: $footer-color;
}

.site-footer, .wrap:after {
  height: $footer-height; 
}
.site-footer {
  background: $footer-color;
  position:fixed;
  top:100%;
  right:0;
  left:0;
  bottom:0;
  margin-top: -$footer-height;
  z-index:9999;
  background-color:rgba(0,0,0,0.90);
}

// Styling for mobile devices
@media screen and (max-width: 768px) {
  .site-footer, .wrap:after {
    height: $footer-height * 2.8; 
  }
  
  .recent-posts ul li {
    margin-bottom: 2em;
  }
}
