// code taken from: http://www.script-tutorials.com/css3-modal-popups/

.lightbox-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.lightbox-overlay:target {
    visibility: visible;
    opacity: 1;
}
.lightbox-popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 0;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

}
.lightbox-overlay:target+.lightbox-popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.lightbox-popup-close {
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -15px;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.lightbox-popup-close:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-close-description {
    z-index: 999;
    position: absolute;
    bottom: 80px;
    right: 0;
    padding: 3px 3px 10px 10px;
    font-size: 24px;
    text-decoration: none;
    line-height: 20px;
}

.lightbox-popup p, .lightbox-popup div {
    margin-bottom: 10px;
}


////////////////////////////////////////////////////

.lightbox-image-description {
    width: 100%;
    z-index: 99;
    bottom: 55px;
    left: 0;
    position: absolute;
    padding: 10px;
    margin: 0 0 4px 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 17px;
    opacity: 1;
    text-align: center;
    transition: opacity ease-in-out 0.5s;
}

a:focus {
	opacity: 0;
    visibility: invisible;
}

a:focus ~ .lightbox-image-description {
	opacity: 0;
    visibility: invisible;
}

.lightbox-prev {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    width: 40px;
    height: 300px;
    line-height: 300px;
    border: 3px solid transparent;
    left: -50px;
    background-color: #fff;
}

.lightbox-prev:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.lightbox-next {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    width: 40px;
    height: 300px;
    line-height: 300px;
    border: 3px solid transparent;
    right: -50px;
    background-color: #fff;
}

.lightbox-next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

a.lightbox-prev, a.lightbox-next {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    outline: 0;
    -webkit-font-smoothing: antialiased;
}

.zoom {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.zoom:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  overflow: auto;
}

