//////////////////////////////////////
// Styling for mobile devices
/////////////////////////////////////
@media screen and (max-width: 768px) {

.wrap {
    display: block;
    overflow: scroll;
}
    
.wraptainer {
    margin-top: 0;   
}

.page-content {
    padding: 0;
}

figure > img.thumb {
    width: 100px;
    margin: 0 .7rem .7rem 0;
}

.sidebar h2 {
    text-align: center;
}

.masonry {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.masonry-panel {
    border-radius: 0px;
}

.lightbox-popup {
    width: 300px;
    max-height: 100%;
    border-radius: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal; 
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;  
    align-items: center;
}

.lightbox-popup .masonry-panel {
    padding: 0px;
    margin: 10px 0 0 0;
}

.lightbox-nav-wrap {
    position: fixed;
    top: 0;
}

.lightbox-image {
    margin: auto;
    width: 70vw;
    max-width: 300px;
    max-height: 95vh;
    height: auto;
}

.lightbox-image-description {
    margin: 0 30px 4px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.lightbox-overlay {
    background-color: black;
}
/*  */
.lightbox-overlay:target+.lightbox-popup {
    right: 0;
    opacity: 1;
    position: absolute;
    visibility: visible;
    height: 100%;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    margin: 0;

}

.lightbox-nav {
    float: left;
    width: 33%;
}

.lightbox-popup-close {
    top: 0px;
    position: fixed;
    right: 30px;
    border: none;
    opacity: 1;
    margin: 0;
    width: auto;
    height: 40px;
    border-radius: 0;
    line-height: 40px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    outline: 0;
    -webkit-font-smoothing: antialiased;
}

.lightbox-prev {
    position: fixed;
    left: 30px;
    border: none;
    opacity: 1;
    margin: 0;
    top: -8px;
    bottom: auto;
    width: auto;
    height: 40px;
    border-radius: 0;
    line-height: 40px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    outline: 0;
    -webkit-font-smoothing: antialiased;
}

.lightbox-next {
    position: fixed;
    left: 130px;
    border: none;
    opacity: 1;
    margin: 0;
    top: -8px;
    bottom: auto;
    height: 40px;
    border-radius: 0;
    line-height: 40px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    outline: 0;
    -webkit-font-smoothing: antialiased;
}

a.lightbox-prev, a.lightbox-next, a.lightbox-popup-close {
    font-size: 4em;
}

.lightbox-popup div {
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.biopic {
    padding-left: .2em;
}


} //End of Mobile Styles 
