---
layout: default
---
<div class="contact_container wraptainer">
  <div class="small-12 columns">
  <h1 class="entry-title medium-offset-1">Contact</h1>
    <form action="{% if page.contact_form != null %}{{ page.contact_form }}{% else %}{{ site.contact_form }}{% endif %}" method="POST">
      <div class="small-12 medium-offset-1 medium-4 columns">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Your name" required="">
      </div>
      <div class="small-12 medium-offset-1 medium-4 columns">
        <label for="_replyto">Email</label>
        <input type="email" name="_replyto" placeholder="Your email" required=""/>
      </div>
      <div class="small-12 medium-offset-1 medium-4 columns">
        <label for="_subject">Subject</label>
        <input type="text" name="_subject" placeholder="Subject" required=""/>
      </div>
      <div class="small-12 medium-offset-1 medium-8 columns">
        <label for="message">Message</label>
        <textarea name="message" placeholder="Your Message" required=""></textarea>
      </div>
      <div class="small-12 medium-offset-1 medium-4 columns">
        <input type="submit" value="Send Email" class="button">
        <input type="hidden" name="_next" value="{{ site.github.url }}/contact/thanks/" />
        <input type="text" name="_gotcha" style="display:none" />
      </div>
    </form>
  </div>
</div>
