---
layout: default
---
<div class="contact_container row">
  <div class="small-12 columns">
    <form action="https://formspree.io/ctarwater@chrisanthropic.com" method="POST">
      <input type="text" name="name" placeholder="Your name">
      <input type="email" name="_replyto" placeholder="Your email">
      <input type="text" name="message" placeholder="Your message"/>
      <input type="submit" value="Send">
      <input type="hidden" name="_subject" value="New contact form submission!" />
      <input type="hidden" name="_next" value="{{ site.baseurl }}/contact/thanks/" />
      <input type="text" name="_gotcha" style="display:none" />
    </form>
  </div>
</div>
