---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main class="wrap">
        <nav class="hide-for-large navbar">
          {% include mobilenav.html %}
        </nav>
      {% include header.html %}
      <div class="content_container columns">
          {{ content }}
      </div>
      {% if page.sidebar != null  %}
        <aside class="small-12 large-2 columns sidebar page-content recent-posts">
          {% include {{ page.sidebar | append: '.html' | prepend: '/asides/'}} %}
        </aside>
      {% endif %}
    </main>
  </body>
</html>
