---
layout: default
sidebar: 'false'
---
<div class="masonry">
    <div>  {% for gallery in site.galleries %} {% if gallery.name == page.title %} {% for art in gallery.arts %}
        <div class="masonry-panel">
            <a href="#{{ forloop.index0 }}" data-caption-desc="{{ art.caption }}">
                <img src="{{ site.baseurl }}/{{ art.image }}" class="zoom">
            </a>
        </div>{% endfor %} {% endif %} {% endfor %}
    </div>
</div>

{% for gallery in site.galleries %} {% if gallery.name == page.title %} {% for art in gallery.arts %}
<aside class="small-12 columns">
    <a href="#x" class="lightbox-overlay" id="{{ forloop.index0 }}"></a>
        <div class="lightbox-popup center-text">
            <div class="masonry-panel">{% if art.description %}
                <a tabindex="0" class="lightbox-close-description">×</a>
                <p class="lightbox-image-description">{{ art.description }}</p>{% endif %}
                <a href="#{{ forloop.index0 | plus: 1 }}"><img src="{{ site.baseurl }}/{{ art.image }}" alt="{{ art.title }}" width="400"></a>
                {% if art.title %}<figcaption class="lightbox-caption">{{ art.title }}</figcaption>{% endif %}

            
            <a class="lightbox-popup-close" href="#close">&times;</a>
            <a class="lightbox-prev" href="#{{ forloop.index0 | minus: 1 }}">&#171;</a>
            <a class="lightbox-next" href="#{{ forloop.index0 | plus: 1 }}">&#187;</a>
            </div>
        </div>
</aside>
{% endfor %} {% endif %} {% endfor %}
