---
layout: default
sidebar: 'false'
---
<div class="masonry-layout">
    <div>  {% for gallery in site.galleries %} {% if gallery.name == page.title %} {% for art in gallery.arts %}
        <div class="masonry-layout-panel__content">
            <a href="#{{ forloop.index0 }}" data-caption-desc="{{ art.caption }}">
                <img src="{{ site.baseurl }}/{{ art.image }}" class="zoom">
            </a>
        </div>{% endfor %} {% endif %} {% endfor %}
    </div>
</div>

<aside class="trap"> {% for gallery in site.galleries %} {% if gallery.name == page.title %} {% for art in gallery.arts %}
    <a href="#x" class="overlay" id="{{ forloop.index0 }}"></a>
        <div class="popup center-text">
            <div class="masonry-layout-panel__content">
                            <p class="desc">{{ art.description }}</p>
                <a href="#{{ forloop.index0 | plus: 1 }}"><img src="{{ site.baseurl }}/{{ art.image }}" width="400"></a>
                <figcaption>{{ art.title }}</figcaption>
            </div>
            <a class="close" href="#close"></a>
            <a class="fbx-prev" href="#{{ forloop.index0 | minus: 1 }}">&#171;</a>
            <a class="fbx-next" href="#{{ forloop.index0 | plus: 1 }}">&#187;</a>
        </div>
</aside>{% endfor %} {% endif %} {% endfor %}
